<% include public/header.ejs %>

<div class="container">
  <%- message %>
  <h1>Story#<%= storyid %></h1>
  
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>story</th>
        <th>catalog</th>
        <th>content</th>
      </tr>
    </thead>
    <tbody>

        <% catalogs.forEach(function(catalog, index){ %>
        <tr>
          <td><%= index %></td>
          <td><%= catalog.story %></td>
          <td><a href='/story/<%= storyid %>/<%= catalog.catalog %>'><%= catalog.catalog %></a></td>
          <td><%= catalog.content %></td>
        </tr>
        <% }) %>

    </tbody>
  </table>

  <div>
    <a href="/add/<%= storyid %>" class="btn">创建</a>
  </div>

</div>

<% include public/footerbegin.ejs %>
<% include public/footerend.ejs %>